= "#{@lesson.user.user_name} 様"

以下の通りレッスンが予約されました。時間になったらZoom URLにアクセスをお願いします。
\------------------------------------------------------------
= "生徒：#{@lesson.ticket.user.user_name}"
= "日程/言語：#{@lesson.summary}"
= "Zoom URL：#{@lesson.zoom_url}"
\------------------------------------------------------------
