= "#{@lesson.ticket.user.user_name} 様"

以下の通りレッスンを予約しました。時間になったらZoom URLにアクセスをお願いします。
\------------------------------------------------------------
= "担当講師：#{@lesson.user.user_name}"
= "日程/言語：#{@lesson.summary}"
= "Zoom URL：#{@lesson.zoom_url}"
\------------------------------------------------------------
