%h2 講師毎の予約率（予約数 / レッスン枠数）

.row.align-items-center
  .col-lg-5.text-right
    = link_to "<<", visualizations_by_teacher_path(date_to_year_month_params(@year_month.prev_year)), class: 'btn btn-outline-secondary'
    = link_to "<", visualizations_by_teacher_path(date_to_year_month_params(@year_month.prev_month)), class: 'btn btn-outline-secondary'
  .col-lg-2.text-center
    = form_with(scope: :year_month, url: visualizations_by_teacher_path, method: :get, local: true, class: 'simple_form') do |f|
      = f.select :year, 2000..2099, {}, onchange: 'submit(this.form)'
      年
      = f.select :month, 1..12, {}, onchange: 'submit(this.form)'
      月
  .col-lg-5.text-left
    = link_to ">", visualizations_by_teacher_path(date_to_year_month_params(@year_month.next_month)), class: 'btn btn-outline-secondary'
    = link_to ">>", visualizations_by_teacher_path(date_to_year_month_params(@year_month.next_year)), class: 'btn btn-outline-secondary'

%table.table.table-bordered.table-sm
  %thead.thead-light
    %tr
      %th.align-middle.text-center{style: "width:11%"} 講師名
      - month = @year_month
      - (0..11).each do |i|
        %th.align-middle.text-center{style: 'width:7%'}= link_to month.strftime("%Y/%m"), visualizations_by_teacher_detail_path(year: month.year, month: month.month, day: 1)
        - month = month.next_month
  %tbody
    - @teachers.each do |teacher|
      %tr
        %td.align-middle.text-center= teacher.user_name
        - teacher_lessons = @lessons.select{|l| l.user_id == teacher.id}
        - month = @year_month
        - (0..11).each do |i|
          = visualization_td_rate_tag(teacher_lessons.select{|l| l.date_at == month}.first)
          - month = month.next_month
= paginate @teachers
