-# frozen_string_literal: true
= simple_form_for([@user, @ticket], url: user_tickets_path(@user)) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :number_owned, as: :select, collection: ticket_select_items, include_blank: false

  .form-actions.text-center
    = f.button :submit, value: 'カード決済', class: 'btn btn-primary'

%script{src: 'https://checkout.stripe.com/checkout.js'}
%script
  var $form = $('#new_ticket');
  var h_amount = {
  - Ticket.number_owneds.keys.each do |key|
    #{key}: #{Ticket.number_owned_to_amount(key)},
  };
  $form.submit(function(e){
  -# ready等の起動タイミングでconfigureを読みだすと"stripecheckout is not defined"エラーが出ることがある
  var sc = StripeCheckout.configure({
  key: "#{Rails.configuration.stripe[:publishable_key]}",
  email: "#{@user.email}", description: "カード決済", locale: "ja", currency: "jpy",
  token: function(token){ $form.off('submit').append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: token.id })).submit(); }
  });
  sc.open({amount: h_amount[$('#ticket_number_owned').val()]}); return false;});
