.container
  - if removable
    .row.bg-info
      .col-lg-1.offset-lg-11.text-right
        %a.btn.btn-danger.btn-sm.text-white{onclick: 'removeLessonParams($(this));'} ×削除
  - if lesson_params.has_key?(:errors)
    .alert.alert-danger
      - lesson_params[:errors].each do |error_message|
        %p= error_message
  %ul.nav.nav-tabs{role: 'tablist'}
    %li.nav-item
      %a.nav-link.active{'data-toggle': 'tab', href: '#', onclick: 'switchLessonParamsTab($(this), 0);'} 通常指定
    %li.nav-item
      %a.nav-link{'data-toggle': 'tab', href: '#', onclick: 'switchLessonParamsTab($(this), 1);'} 範囲指定
  .tab-content
    .tab-pane.active
      .field
        = label_tag :date_at, Lesson.human_attribute_name(:date_at)
      .form-inputs.row.form-group
        = date_field_tag 'lessons[][date_at]', lesson_params[:date_from], id: nil, class: 'form-control mx-1'
      .field
        = label_tag :period_id, Lesson.human_attribute_name(:period_id)
      .form-inputs.row.form-group
        = select_tag 'lessons[][period_id]', options_for_select(period_select_collection(Period.all), lesson_params[:period_id]), {include_blank: false, class: 'form-control mx-1', id: nil}
    .tab-pane
      .field
        = label_tag :date_at, "#{Lesson.human_attribute_name(:date_at)}範囲"
      .form-inputs.row.form-group
        .col-lg-5
          = date_field_tag 'lessons[][date_from]', lesson_params[:date_from], id: nil, class: 'form-control mx-1'
        .col-lg-2.d-flex.align-items-center.text-center
          %span.mx-auto ～
        .col-lg-5
          = date_field_tag 'lessons[][date_to]', lesson_params[:date_to], id: nil, class: 'form-control mx-1'
      .field
        = label_tag :period_id, "#{Lesson.human_attribute_name(:period_id)}選択"
      .form-inputs.row.form-group
        = collection_check_boxes '', 'lessons[][period_ids]', Period.all, :id, :period_name, checked: lesson_params[:period_ids], include_hidden: false do |b|
          .col-lg-2
            = b.label { b.check_box(id: nil) + b.text }
  .field
    = label_tag :category_id, Lesson.human_attribute_name(:category_id)
  .form-inputs.row.form-group
    = select_tag 'lessons[][category_id]', options_for_select(category_select_collection(@user.categories), lesson_params[:category_id]), {include_blank: false, class: 'form-control mx-1', id: nil}
