%h2 #{Lesson.model_name.human}の報告

= simple_form_for([@user, @lesson], url: update_report_teacher_lesson_path(@user, @lesson)) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :feedback, input_html: { rows: 5 }
    = f.input :report, input_html: { rows: 5 }

  .form-actions.text-center
    = f.button :submit, class: 'btn btn-primary'

= link_to '表示', teacher_lesson_path(@user, @lesson), class: 'btn btn-outline-dark'
= link_to "戻る", :back, class: 'btn btn-outline-secondary'
